@import "bootstrap/scss/bootstrap";

body {
  margin: 80px;
}

ul {
  list-style-type: none;
  margin-left: -5px;
  padding: 0px;
  margin-bottom: 10px;
}

li {
  padding: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
}
